*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: darkseagreen;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 25px;
    padding: 35px 25px;
}
.month{
    background-color: #b5d99d;
    width: calc(100% / 6 - 25px); /* 6 блоків + gap */
    height: auto;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transition: 1s;
}
.month:hover{
    transform: scale(1.1);
    transition: 1s;
    box-shadow: 0 4px 12px rgba(181, 217, 157, 0.6);
}
.month h2{
    color: #2f2e2e;
    margin-bottom: 15px;
}
.month p{
    font-size: 14px;
    color: #2f2e2e;
    margin: 8px 0;
}