*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgray;
}
h1{
    text-align: center;
    padding: 40px 0;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.products{
    width: 250px;
    height: 300px;
    display: flex;
    border: 2px darkgrey solid;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
.products img{
    width: 80%;
}
.end{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.end hr{
    width: 95%;
    height: 1px;
    background-color: darkgrey;
}
.end h3{
    margin-top: 10px;
}