* {
    margin: 0;
}

header {
    height: 20vh;
    background: #8D8484;
}

main {
    display: flex;
}

section {
    height: 20vh;
    width: 73vw;
}

footer {
    height: 20vh;
    background: #BDBDBD;
}

.main__content-content1 {
    background: #776969;
}

.main__content-content2 {
    background: #643030;
}

.main__content-content3 {
    background: #441818;
}

aside {
    height: 30vh;
    width: 27vw;
}

.main__spam1 {
    background: #937575;
}

.main__spam2 {
    background: #644C4C;
}
header, section, aside, footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 40px;
    color: white;
}
h3{
    font-size: 40px;
    font-weight: normal;
}
